body {
	padding: 1em;
	padding-left: 1em;
	margin: 1em 1em;
}

textarea {
    background-color: #4a5264;
    color: white
}
/* #welcome {
    font-size: 42pt;
} */

#title {
    font-size: 36pt;
    font-weight: bold;
}

#topic {
    font-size: 12pt;
    color: #87b4c5;
}

#content {
    font-size: 18pt;
    margin: 1em 0;
}

#comment {
    margin-top: 3em;
}

#comment-header {
    margin-top: 2em;
}
