@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
body {
	padding-left: 4%;
	padding-bottom: 4%;
	font-family: "Fraunces", serif;
	background-color: #2f3340;
	color: #d7dce8;
}
::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: "Fraunces", serif;
    color: #87b4c5;
}

textarea {
	width: 100%;
    background-color: #4a5264;
    color: white
}

textarea:focus, input:focus {
    color: white
}

.comments {
	border: 0 none #fff;
	overflow: hidden;
	resize: none;
}
.comments:focus {
	border: black;
	resize: none;
}

.mainWidth {
	width: 30em;
}

.buttons button {
	margin-right: 3em;
}

a {
    color: #87978c;
}

a:hover {
    color: #af8bad;
    text-decoration: none;
}

button {
    background-color: #87b4c5;
    color: #2f3340;
}